* {margin: 0; padding: 0; box-sizing: border-box;}
ol,ul,li {list-style: none;}
a {text-decoration: none; color: #333; display: inline-block; font-size: 1.4rem;}

html {letter-spacing: -0.5px; font-size: 10px;}
body {font-family: "NotoSansKR", sans-serif; overflow-x: hidden; font-size: 1.6rem}

img {display: inline-block;}
button {border: none; background: none; cursor: pointer;}

.center1 {max-width: 1040px; margin: 0 auto; position: relative; padding: 0 20px;}
.center2 {max-width: 980px; margin: 0 auto; position: relative;}
.center {max-width: 1082px; margin: 0 auto; position: relative; padding: 0 20px;}
.flex_01 {display: flex; justify-content: space-between;}
.flex_02 {display: flex; justify-content: center;}
.flex_03 {display: flex; justify-content: flex-start;}
.flex_04 {display: flex; justify-content: flex-end;}
.flex_05 {display: flex; justify-content: space-around;}
.flex_wrap {flex-wrap: wrap;}

.blind {font-size: 0; position: absolute; left: -9999px;}



/* skip */
#skipToContent {position: absolute; width: 100%; margin: 0 auto;}
#skipToContent a {display: block; height: 1px; margin-bottom: -1px; overflow:hidden; white-space:nowrap; width: 1px;}
#skipToContent ul li {float: left}
#skipToContent a:focus, #skipToContent a:active {height: 18px; width: 130px; padding: 5px; color: #000; text-align: center; font-weight: bold; margin: 0;}



@font-face {
    font-family: 'NotoSansKR';
    font-weight: 100;
    src: url(../font/NotoSansKR-ExtraLight.ttf) format('ttf');
}

@font-face {
    font-family: 'NotoSansKR';
    font-weight: 300; 
    src: url(../font/NotoSansKR-Light.ttf) format('ttf');
}

@font-face {
    font-family: 'NotoSansKR';
    font-weight: 400;
    src: url(../font/NotoSansKR-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'NotoSansKR';
    font-weight: 500;
    src: url(../font/NotoSansKR-Medium.ttf) format('ttf');
}

@font-face {
    font-family: 'NotoSansKR';
    font-weight: 600;
    src: url(../font/NotoSansKR-SemiBold.ttf) format('ttf');
}

@font-face {
    font-family: 'NotoSansKR';
    font-weight: 700;
    src: url(../font/NotoSansKR-Bold.ttf) format('ttf');
}

@font-face {
    font-family: 'NotoSansKR';
    font-weight: 800;
    src: url(../font/NotoSansKR-ExtraBold.ttf) format('ttf');
}


