.icon {align-items: center;}
.icon li .ic_up {display: block; width: 18px; height: 18px; background: url(../images/main_common_prev.gif) no-repeat center center/contain;}
.icon li .ic_nx {display: block; margin-right: 5px; width: 18px; height: 18px; background: url(../images/main_common_prev.gif) no-repeat center center/contain;}
.icon li .ic_st {display: block; width: 18px; height: 18px; background: url(../images/main_common_stop.gif) no-repeat center center/contain;}

#section1 {margin-bottom: 40px; height: 243px; background: url(../images/main_v_02.png) no-repeat center center/cover;}

#section2 {gap: 22px;}
#section2 .main_box_wrap {flex: 2 2 calc(66.666% - 22px); gap: 22px;}
#section2 .main_box2 {flex:1 1 calc(33.333% - 22px); gap: 22px;}


#section2 .main_box {gap: 22px;}
#section2 .main_box .box1 {flex: 1 1 calc(50% - 22px);}
#section2 .main_box .box1_head {align-items: center; border-bottom: 1px solid #d1d1d1; margin-bottom: 10px;}
#section2 .main_box .box1_head  h2 {border-bottom: 1px solid #0f46a0; font-weight: 500; color: #fff; font-size: 14px; padding: 3px 11px; background: #49658c;}
#section2 .main_box .box1_body .body_left   {display: block; flex:1 1 35%;}
#section2 .main_box .box1_body .body_left img {width: 100px;}
#section2 .main_box .box1_body .body_right {flex: 1 1 65%;}
#section2 .main_box .box1_body .body_right h3 { font-size: 13px; font-weight: 500; color: #333; padding-bottom: 5px;}
#section2 .main_box .box1_body .body_right h3:hover {font-weight:500}
#section2 .main_box .box1_body .body_right p {font-size: 12px; font-weight: 400; color: #666; text-align: justify; padding-bottom: 15px;}
#section2 .main_box .box1_body .body_right p:hover {font-weight:500}
#section2 .main_box .box1_body .body_right .find_bar span {display: inline-block;font-size: 12px; color: #fff; font-weight: 400; padding: 3px 16px; background: #fb9749; border-radius: 20px;}

#section2 .main_box .box2 {flex: 1 1 calc(50% - 22px); overflow: hidden;}
#section2 .main_box .box2 a:hover {font-weight: 500}
#section2 .main_box .box2 .box1_head {align-items: center; border-bottom: 1px solid #d1d1d1; margin-bottom: 10px;}
#section2 .main_box .box2 .box1_head  h2 {border-bottom: 1px solid #0f46a0; font-weight: 500; color: #fff; font-size: 14px; padding: 3px 11px; background: #49658c;}
#section2 .main_box .box2 .box1_head .icon_box {align-items: center; width:20px; height: 18px; background-color: #aaa;}
#section2 .main_box .box2 .box1_head a {font-weight: 500; color: #fff;}
#section2 .main_box .box2 .text {padding: 5px 0;}
#section2 .main_box .box2 .text_box {margin-bottom: 5px;}
#section2 .main_box .box2 .text_box .text_left {overflow: hidden;}
#section2 .main_box .box2 .text_box .text_left a {width: 72%; color: #666; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
#section2 .main_box .box2 .text_box .text_left::before {content: ""; display: inline-block; width: 2px; height:2px; background: #666; margin-right: 4px; position: relative; top:-4px;}
#section2 .main_box .box2 .text_box .text_right {width: 23%; text-align: right;  color: #666; display: block;}
#section2 .main_box .box2 .text_box {font-size: 13px; font-weight: 400;  color: #666; text-align: justify;}


#section2 .box3_box4_wrap {flex: 1 1 calc(50% - 22px);}
#section2 .main_box .box3 {align-items: center ; padding: 15px; background: #f5f9fa; border: 1px solid #c0cdd5; border-radius: 5px; margin-bottom: 10px;}
#section2 .main_box .box3 .box2_in a:hover {font-weight:500}
#section2 .main_box .box3 .box2_hd {align-items: center;}
#section2 .main_box .box3 .box2_hd h3 {font-weight: 500; color:#216798; padding: 0 0 5px 2px; font-size: 15px; padding-right: 5px;}
#section2 .main_box .box3 .box2_hd .arr_img {width: 5px; height: 20px; background: url(../images/arr.png) no-repeat center 4px/contain;}
#section2 .main_box .box3 .box2_in {align-items: center; line-height: 14px;}
#section2 .main_box .box3 .box2_in a {font-size: 12px; font-weight: 400; color: #666; text-align: justify;}
#section2 .main_box .box3 .box2_icon {display: block; margin-left: 20px; width: 50px; height: 50px; background: url(../images/main_water_info_img.png) no-repeat center center/contain;}

#section2 .main_box .box4 {flex: 1 1 calc(50% - 22px);}
#section2 .main_box .box4 a:hover {font-weight:500}
#section2 .main_box .box4 h3 {font-size: 14px; font-weight: 500; color: #333; padding-bottom: 5px;}
#section2 .main_box .box4 .text_box {align-items: center; background: #e8e8e8; padding: 7px 10px 9px; padding-left: 15%; border-radius: 5px;}
#section2 .main_box .box4 .text_box .text_box_in {align-items: center;}
#section2 .main_box .box4 .text_box .text_box_in .sound_img {margin-right: 10px;display: block; width:9px; height: 11px; background: url(../images/main_singular_info_icon.png) no-repeat center 2px/contain;}
#section2 .main_box .box4 .text_box .text_box_in .sound_text {font-size: 12px; font-weight: 400; color: #666; text-align: justify;}

#section2 .main_box .box5 {flex: 1 1 calc(50% - 22px); overflow: hidden;}
#section2 .main_box .box5 a:hover {font-weight:500}
#section2 .main_box .box5 .box1_head {align-items: center; border-bottom: 1px solid #d1d1d1; margin-bottom: 10px;}
#section2 .main_box .box5 .box1_head  h2 {border-bottom: 1px solid #0f46a0; font-weight: 500; color: #fff; font-size: 14px; padding: 3px 11px; background: #49658c;}
#section2 .main_box .box5 .box1_head .icon_box {align-items: center; width:20px; height: 18px; background-color: #aaa;}
#section2 .main_box .box5 .box1_head a {font-weight: 500; color: #fff; }
#section2 .main_box .box5 .text {padding: 5px 0;}
#section2 .main_box .box5 .text_box {margin-bottom: 5px;}
#section2 .main_box .box5 .text_box .text_left {overflow: hidden;}
#section2 .main_box .box5 .text_box .text_left a {width: 72%; color: #666; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
#section2 .main_box .box5 .text_box .text_left::before {content: ""; display: inline-block; width: 2px; height:2px; background: #666; margin-right: 4px; position: relative; top:-4px;}
#section2 .main_box .box5 .text_box .text_right {width: 23%; text-align: right;  color: #666; display: block;}
#section2 .main_box .box5 .text_box {font-size: 13px; font-weight: 400;  color: #666; text-align: justify;}

#section2 .main_box .box6 {flex: 1 1 calc(50% - 22px);}
#section2 .main_box .box6 a:hover {font-weight:500}
#section2 .main_box .box6 .box4_body .body_left {flex: 1 1 23%; height: 120px; background: url(../images/its_bg.jpg) no-repeat 0 0;}

#section2 .main_box .box6 .box4_body .body_right {flex: 1 1 77%}
#section2 .main_box .box6 .box4_body .body_right h3 {padding: 0 0 30px 10px; font-size: 16px; letter-spacing: -1px; font-weight: 500; color: #438fc9}
#section2 .main_box .box6 .box4_body .body_right .box4_img .in_box {flex: 1 1 50%; flex-wrap: wrap; text-align: center;}
#section2 .main_box .box6 .box4_body .body_right .box4_img .in_box:first-child {border-right: 1px solid #d1d1d1;}
#section2 .main_box .box6 .box4_body .body_right .box4_img img {display: block;}
#section2 .main_box .box6 .box4_body .body_right .box4_img .box4_text {font-size:12px; color: #666;}

#section2 .main_box .box7 {flex: 1 1 calc(50% - 22px);}
#section2 .main_box .box7 a:hover {font-weight:500}
#section2 .main_box .box7 h3 {font-size: 15px; font-weight: 500; color: #333; padding-bottom: 10px;}
#section2 .main_box .box7 .body_left {width: calc(100% - 118px)}
#section2 .main_box .box7 .body_left p {letter-spacing: -0.2px; line-height: 14px; width: 166px; font-size: 12px; font-weight: 400; color: #666; text-align: justify; padding-bottom: 10px;}
#section2 .main_box .box7 .video_go {align-items: center;}
#section2 .main_box .box7 .video_go span {font-size: 14px; font-weight: 500; color: #333;}
#section2 .main_box .box7 .video_ic {display: block; width:30px; height:12px; background: url(../images/main_its_vod_icon.png) no-repeat 0 0/contain;}
#section2 .main_box .box7 .video_img {display: block; width:119px; height: 74px; background: url(../images/main_its_vod_img.png) no-repeat 0 0/cover;}

#section2 .main_box2 .box8 {padding: 10px; background: #f9f8f6; border: 1px solid #d1d1d1; border-radius: 5px;} 
#section2 .main_box2 .box8 a:hover {font-weight:500}
#section2 .main_box2 .box8 h2 {color: #438fc9; font-size: 16px; margin: 0 0 15px 15px; font-weight:500;}
#section2 .main_box2 .box8 h2 span {color: #ee623e; font-size: 30px; margin-left: 10px; font-weight: 400;}
#section2 .main_box2 .box8 .btm_box {flex-wrap: wrap; gap: 10px;}
#section2 .main_box2 .box8 .icon_box {flex: 1 1 calc(33.333% - 10px); white-space: nowrap;}
#section2 .main_box2 .box8 .icon_box .ic_img1 {display: block; width: 63px; height: 63px; background: url(../images/main_quick_icon01.png) no-repeat center center/contain;}
#section2 .main_box2 .box8 .icon_box .ic_img2 {display: block; width: 63px; height: 63px; background: url(../images/main_quick_icon02.png) no-repeat center center/contain;}
#section2 .main_box2 .box8 .icon_box .ic_img3 {display: block; width: 63px; height: 63px; background: url(../images/main_quick_icon03.png) no-repeat center center/contain;}
#section2 .main_box2 .box8 .icon_box .ic_img4 {display: block; width: 63px; height: 63px; background: url(../images/main_quick_icon04.png) no-repeat center center/contain;}
#section2 .main_box2 .box8 .icon_box .ic_img5 {display: block; width: 63px; height: 63px; background: url(../images/main_quick_icon05.png) no-repeat center center/contain;}
#section2 .main_box2 .box8 .icon_box .ic_img6 {display: block; width: 63px; height: 63px; background: url(../images/main_quick_icon06.png) no-repeat center center/contain;}
#section2 .main_box2 .box8 .icon_box .ic_img7 {display: block; width: 63px; height: 63px; background: url(../images/main_quick_icon07.png) no-repeat center center/contain;}
#section2 .main_box2 .box8 .icon_box .ic_img8 {display: block; width: 63px; height: 63px; background: url(../images/main_quick_icon08.png) no-repeat center center/contain;}
#section2 .main_box2 .box8 .icon_box .ic_img9 {display: block; width: 63px; height: 63px; background: url(../images/main_quick_icon09.png) no-repeat center center/contain;}
#section2 .main_box2 .box8 .icon_box .ic_text {display: block; font-size: 13px; letter-spacing: -1px; text-align: center;}
#section2 .main_box2 .box8 .icon {display: flex; justify-content: center;}
#section2 .main_box2 .box8 .ic_text {color: #666;}

#section2 .main_box2 .box9 {padding: 20px 0 50px;}
#section2 .main_box2 .box9 a:hover {font-weight:500}
#section2 .main_box2 .box9 .left_box {width: 65%;}
#section2 .main_box2 .box9 .left_box ul li {border-bottom: 1px solid #d1d1d1;}
#section2 .main_box2 .box9 .left_box ul li a {padding: 10px 10px; display: block; width: 100%; height: 100% ;color:#438fc9; font-size: 14px; font-weight: 500; letter-spacing: 0;}
#section2 .main_box2 .box9 .left_box ul li a:hover {background-color: #f3f9fc; color: #333;}
#section2 .main_box2 .box9 .serv_img {width: 100px; height: 137px; background: url(../images/email_tab_bg.jpg) no-repeat left -20px/cover; margin-left: 20px;}



@media screen and (max-width: 1024px) {
    .center {padding: 0 10px;}
 
    #header .header_right .main_nav {display: none;}

    #section2 .main_box_wrap {flex: 2 2 100%; gap: 22px;}
    #section2 .main_box2 {flex:1 1 100%; gap: 22px;}
    #section2 {gap: 30px;}

    #footer .footer_top .foot_menu {padding: 0 10px;}
    #footer .footer_bottom {padding: 20px 10px;}
    #footer .footer_bottom .qr_img {display: none;}

   
}


@media screen and (max-width: 992px) {
    #section1 {margin-bottom: 50px; height: 180px; background: url(../images/tablet_v_01.png) no-repeat center center/cover;}
}

@media screen and (max-width: 767px) {
    .center {padding: 0 0;}

    #section1 {margin-bottom: 60px; height: 140px; background: url(../images/mobile_v_03.png) no-repeat center center/cover;}

    #section2 .main_box_wrap {padding: 0 10px 15px;}
    #section2 .main_box2 {padding: 0 0;}

    #section2 .main_box .box1 {flex: 1 1 100%;}
    #section2 .main_box .box2 {flex: 1 1 100%;}
    #section2 .main_box .box3 {flex: 1 1 100%;}
    #section2 .main_box .box4 {flex: 1 1 100%;}
    #section2 .main_box .box5 {flex: 1 1 100%;}
    #section2 .main_box .box6 {flex: 1 1 100%;}
    #section2 .main_box .box7 {flex: 1 1 100%;}
    #section2 .main_box .box8 {flex: 1 1 100%;}
    #section2 .main_box .box9 {flex: 1 1 100%;}
    
    #section2 .main_box .box7 .body_left p {width: calc(100% - 70px); padding-bottom: 25px;}
}