* {margin: 0; padding: 0; box-sizing: border-box;}
ol,ul,li {list-style: none;}
a {text-decoration: none; color: #333;}


.center {max-width: 1240px; margin: 0 auto; position: relative; }
.flex_01 {display: flex; justify-content: space-between;}
.flex_02 {display: flex; justify-content: center;}
.flex_03 {display: flex; justify-content: flex-start;}
.flex_04 {display: flex; justify-content: flex-end;}
.blind {font-size: 0; position: absolute; left: -9999px;}

body {}

#header {height: 82px; align-items: center;}
#header img {width: 100%;}
#header a:hover {}
#header .logo {display: block; width: 161px; height: 42px; background:url(../images/logo.png) no-repeat  top center/contain;}
#footer {padding: 40px 0;}
#header .main_nv {height: 100%; align-items: center;}
#header .main_nv li{padding: 0 30px;}
#header .sub_nv {padding: 0 20px;}
#header .sub_nv li {border: 1px solid #d1d1d1; border-radius: 3px; margin: 0 3px;}
#header .sub_nv li a {color:#008bca; font-weight: 500;}
#header .left_menu {align-items: center;}
#header .left_menu {height: 100%; align-items: center;}
#header .left_menu .menu {width: 82px; height: 100%; background: #008bca; align-items: center;}
#header .left_menu .menu i {font-size: 40px; color: #fff}
#header .search i{font-size: 40px; color: #008bca; display: none;}

#section1 {position: relative;}

#section1 .video_box {position: absolute; z-index: -1; left: 0; right: 0}
#section1 .video_box video {width: 100%;}
#section1 .video_text {height: 40vw; align-items: center; padding: 12px;}
#section1 .video_text .text_box {}
#section1 .video_text .video_text1 {width: 100%; padding-bottom: 3vw;}
#section1 .video_text .video_text1 img {width: 30vw}
#section1 .video_text .video_text2 {width: 100%; padding-bottom: 3vw;}
#section1 .video_text .video_text2 img {width: 60vw}
#section1 .video_text h2 {font-size: 30px; color: #fff; transition: 1s;}

#section2 {width: 100%; background: #fff; padding: 3vw;}
#section2 img {width: 100%;}
#section2 h2 {text-align: center; color: #f78f31; font-size: 30px; font-weight: 400; margin: 3vw 0 6vw 0;}
#section2 .sect2_wrap {gap: 20px;}
#section2 .sect2_wrap .sect2_box {flex: 1 1 calc(33.333% - 20px)}
#section2 .sect2_wrap .sect2_box img {padding-bottom: 20px;}
#section2 .sect2_wrap .sect2_box .sect2_box_text h3 {color: #333; padding-bottom: 20px; font-weight:800; font-size: 18px; margin-right: 8px;}
#section2 .sect2_wrap .sect2_box .sect2_box_text h3:last-child {color: #999; font-weight:300;}
#section2 .sect2_wrap .sect2_box .sect2_box_text h3:last-child::before {content: ""; display: inline-block; width: 1px; height: 16px; background: #f78f31; position: relative; top: 1px; margin-right: 8px;}
#section2 .sect2_wrap .sect2_box .sect2_box_text p{text-align: justify; color: #333;}

#section3 {}
#section3 img {width: 100%;}
#section3 .sec3 {flex: 1 1 50%; position: relative;}
#section3 .sec3 .sec3_box1 {display: block;height: 252px; background: url(../images/con1_img3.png) no-repeat 0 0/cover;}
#section3 .sec3 h2 {color: #fff; font-size: 30px; opacity: 100%;}
#section3 .sec3 h2::before {content: ""; display: inline-block; width: 2px; height: 24px; background: #f78f31; position: relative; top: -2px; margin-right: 8px;}
#section3 .sec3 p {opacity: 100%}
#section3 .sec3 .sec3_text {opacity: 100% ;}
#section3 .sec3 .top_text {color: #fff; font-size: 24px;}
#section3 .sec3 .sec3_box2 {display: block;height: 252px; background: url(../images/intro2.png) no-repeat 0 0/cover}
#section3 .sec3 .box_back {padding: 50px; width: 100%; height: 100%; }
#section3 .bt_text {position: absolute; right: 30px; bottom: 30px; font-size: 12px; color: #fff;}

#section4 {width: 100%; background: #30414b; padding: 3vw;}
#section4 img {width: 100%;}
#section4 .sect2_wrap {gap: 20px;}
#section4 .sect2_wrap .sect2_box {flex: 1 1 calc(33.333% - 20px)}
#section4 .sect2_wrap .sect2_box img {padding-bottom: 3vw;}
#section4 h3 {color: #fff; padding-bottom: 3vw; font-weight:800; font-size: 18px; margin-right: 8px;}
#section4 p {text-align: justify; color: #fff;}

#footer .bt_logo {display: block; width: 161px; height: 42px; margin:0 50px ; background:url(../images/logo.png) no-repeat 0 0/contain;}
#footer {padding: 40px 0;}
#footer li {margin: 0 10px;}

@media screen and (max-width:1018px){
    .flex_01 {flex-wrap: wrap;}
    .flex_02 {flex-wrap: wrap;}
    .flex_03 {flex-wrap: wrap;}
    .flex_04 {flex-wrap: wrap;}

    #header .main_nv {display: none;}
    #header .sub_nv {display: none;}
    #header .search i{display: block; margin:20px;}

    #section2 .sect2_wrap .sect2_box {flex: 1 1 calc(50% - 20px)}
    #section2 .sect2_wrap .sect2_box:last-child {display: none;}
    

    #section4 .sect2_wrap .sect2_box {flex: 1 1 calc(50% - 20px)}
    #section4 .sect2_wrap .sect2_box:last-child {display: none;}

    #section3 .sec3 {flex: 1 1 100%;}

    #footer {display: flex; justify-content: center; flex-direction: column;}
    #footer h1 {display: flex; justify-content: center;}
    #footer ul {display: flex; justify-content: center; margin-top: 10px;}
    #footer ul:first-child {margin-top: 20px;}
}

@media screen and (max-width:767px){

    #section2 .sect2_wrap .sect2_box {flex: 1 1 100%;}
    #section4 .sect2_wrap .sect2_box {flex: 1 1 100%;}
    #section2 .sect2_wrap .sect2_box:last-child {display: block;}
    #section4 .sect2_wrap .sect2_box:last-child {display: block;}

    #section2 h2 {font-size: 24px;}
    #section1 .video_text h2  {font-size:20px;}
}